[Desktop Entry]
Type=Service
Actions=downloados;
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,video/*

[Desktop Action downloados]
Exec=download_opensubtitle.py "%F"
Name=Download subtitle from OpenSubtitles.org
Name[es]=Descargar subtitulo de OpenSubtitles.org
Name[it]=Scarica sottotitoli da OpenSubtitles.org
Icon=applications-multimedia

