[Desktop Entry]
Type=Service
Actions=downloados;
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,video/*

[Desktop Action downloados]
Exec=download_opensubtitle.py "%F"
Name=Download subtitle from opensubtitles.org
Name[es]=Descargar subtitulo de opensubtitles.org
Name[it]=Scarica sottotitoli da opensubtitles.org
Icon=applications-multimedia

